/* Configurações básicas */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease; /* Transição suave para o fade-out */
}

.hidden {
  opacity: 0; /* Define a opacidade para desaparecer gradualmente */
}

/* Estilo para o botão de pause */
#pauseButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: rgba(46, 44, 44, 0.986);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pauseButton.show {
  opacity: 1;
}

#pauseButton::before, #pauseButton::after {
  content: "";
  width: 5px;
  height: 24px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
}

#pauseButton::before {
  transform: translateX(-7px);
}

#pauseButton::after {
  transform: translateX(7px);
}

#pauseButton:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background: rgba(46, 44, 44, 0.986);
}